@import "../node_modules/bootstrap//scss/functions"; 
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  primary: #3949AB
);

@import "../node_modules/bootstrap/scss/bootstrap";

.cover
{
  padding-top: 5rem;
  padding-bottom: 5rem;
}