@import "../node_modules/bootstrap//scss/functions"; 
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  primary: #3949AB
);

@import "../node_modules/bootstrap/scss/bootstrap";

.cover
{
  background-size: cover;
  background-color: #3d3d3d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-img
{
  display: flex;
  justify-content: center;
  align-items: center;
}

h2
{
  color: theme-color("primary");
  padding-bottom: 1rem;
}

.screenshots
{
  overflow-x: auto;
  white-space: nowrap;

  :hover
  {
    cursor: pointer;
  }
}

.screenshot
{
  display: inline-block;
  height: 30rem;
  padding-left: 3rem;
  padding-right: 3rem;
}