<nav class="navbar sticky-top navbar-expand-s navbar-dark bg-primary" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-content">
        <span class="navbar-toggler-icon"></span>
    </button>
                    
    <img width="40px" src="drawables\raccoon.svg" style="left: 0; right: 0; top: 0; bottom: 0; margin: auto;"/>
    <ul class="navbar-nav nav-content" style="position: absolute; right: 50%;">
        <li class="navbar-item active">
            <a href="\" class="nav-link" style="text-align: center;">MusicApp</a>
        </li>
        <li class="navbar-item" style="margin-right: 50px">
            <a href="magical-garden" class="nav-link" style="text-align: center;">Magical Garden</a>
        </li>
    </ul>
    <ul class="navbar-nav nav-content" style="position: absolute; left: 50%;">
        <li class="navbar-item" style="margin-left: 50px">
            <a href="switching-personalities" class="nav-link" style="text-align: center;">Switching Personalities</a>
        </li>
        <li class="navbar-item">
            <a href="other" class="nav-link" style="text-align: center;">Other</a>
        </li>
    </ul>
</nav>