<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#content">
        <span class="navbar-toggler-icon"></span>
    </button>
                    
    <div class="collapse navbar-collapse justify-content-center" id="content">
        <ul class="navbar-nav">
            <li class="navbar-item active">
                <a href="\" class="nav-link">MusicApp</a>
            </li>
            <li class="navbar-item">
                <a href="magical-garden" class="nav-link">Magical Garden</a>
            </li>
            <li class="navbar-item active" style="overflow: auto; width: 40px;">
                <img src="drawables\raccoon.svg" />
            </li>
            <li class="navbar-item">
                <a href="switching-personalities" class="nav-link">Switching Personalities</a>
            </li>
            <li class="navbar-item">
                <a href="other" class="nav-link">Other</a>
            </li>
        </ul>
    </div>
</nav>