<div class="container text-light" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="row">
        <div class="col-1 px-0">
            <hr style="background-color: white; opacity: 0.6;" />
        </div>
        <div class="col-auto">
            <p class="pt-1">CONTACT</p>
        </div>
        <div class="col px-0">
            <hr style="background-color: white; opacity: 0.6;" />
        </div>
    </div>
    <div class="row">
        <ul class="col ml-3 mb-0">
            <li>
                <p><i class="fab fa-github"></i> Github: <a href="https://github.com/AnonymusRaccoon" style="color: #15b7ed;">@AnonymusRaccoon</a></p>
            </li>
            <li>
                <p><i class="fab fa-twitter" style="color: #00aced;"></i> Twitter: <a href="https://twitter.com/AnonymusRaccoon" style="color: #15b7ed;">@AnonymusRaccoon</a></p>
            </li>
            <li>
                <p><i class="fas fa-envelope"></i> Mail: <a href="mailto:tr.tristan-roux@outlook.fr" style="color: #15b7ed;">tr.tristan-roux@outlook.fr</a></p>
            </li>
            <li>
                <p><i class="fab fa-discord" style="color: #7289DA;"></i> Discord: <a href="#" style="color: #15b7ed;">Anonymus Raccoon#9470</a></p>
            </li>
        </ul>
        <div class="col d-none d-md-block align-content-end">
            <img class="mx-auto d-block" style="height: 10rem;" src="../drawables/raccoon.svg"/>
        </div>
    </div>
    <div class="row">
        <div class="col px-0">
            <hr style="background-color: white; opacity: 0.6;" />
        </div>
    </div>
</div>