<div class="container text-light" style="padding-top: 20px; padding-bottom: 20px;">
    <hr style="background-color: white; opacity: 0.6;" />
    <p style="margin-left: 30px;">Contact: </p>
    <ul style="margin-left: 30px;">
        <li>
            <p><i class="fab fa-github"></i> Github: <a href="https://github.com/AnonymusRaccoon">@AnonymusRaccoon</a></p>
        </li>
        <li>
            <p><i class="fab fa-twitter" style="color: #00aced;"></i> Twitter: <a href="https://twitter.com/AnonymusRaccoon">@AnonymusRaccoon</a></p>
        </li>
        <li>
            <p><i class="fas fa-envelope"></i> Mail: <a href="mailto:tr.tristan-roux@outlook.fr">tr.tristan-roux@outlook.fr</a></p>
        </li>
        <li>
            <p><i class="fab fa-discord" style="color: #7289DA;"></i> Discord: <a href="#">Anonymus Raccoon#9470</a></p>
        </li>
    </ul>
    <hr style="background-color: white; opacity: 0.6;" />
</div>