<div class="container text-light" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="row">
        <div class="col-1 px-0">
            <hr style="background-color: white; opacity: 0.6;" />
        </div>
        <div class="col-auto">
            <p class="pt-1">CONTACT</p>
        </div>
        <div class="col px-0">
            <hr style="background-color: white; opacity: 0.6;" />
        </div>
    </div>
    <div class="row">
        <ul class="ml-3 mb-0">
            <li>
                <p><i class="fab fa-github"></i> Github: <a href="https://github.com/AnonymusRaccoon">@AnonymusRaccoon</a></p>
            </li>
            <li>
                <p><i class="fab fa-twitter" style="color: #00aced;"></i> Twitter: <a href="https://twitter.com/AnonymusRaccoon">@AnonymusRaccoon</a></p>
            </li>
            <li>
                <p><i class="fas fa-envelope"></i> Mail: <a href="mailto:tr.tristan-roux@outlook.fr">tr.tristan-roux@outlook.fr</a></p>
            </li>
            <li>
                <p><i class="fab fa-discord" style="color: #7289DA;"></i> Discord: <a href="#">Anonymus Raccoon#9470</a></p>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col px-0">
            <hr style="background-color: white; opacity: 0.6;" />
        </div>
    </div>
</div>