<nav class="navbar static-fixed-top navbar-expand-md navbar-dark bg-primary" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".mobile-nav" style="position: absolute;">
        <span class="navbar-toggler-icon"></span>
    </button>
                    
    <img width="40px" src="../drawables/raccoon.svg" style="left: 0; right: 0; top: 0; bottom: 0; margin: auto;"/>
    <ul class="navbar-nav d-none d-md-flex" style="position: absolute; right: 50%;">
        <li class="navbar-item active">
            <a href="\" class="nav-link">MusicApp</a>
        </li>
        <li class="navbar-item" style="margin-right: 50px">
            <a href="magical-garden" class="nav-link">Magical Garden</a>
        </li>
    </ul>
    <ul class="navbar-nav d-none d-md-flex" style="position: absolute; left: 50%;">
        <li class="navbar-item" style="margin-left: 50px">
            <a href="switching-personalities" class="nav-link">Switching Personalities</a>
        </li>
        <li class="navbar-item">
            <a href="other" class="nav-link">Other</a>
        </li>
    </ul>
</nav>

<div class="mobile-nav navbar-dark bg-primary collapse d-md-none">
    <ul class="navbar-nav">
        <li class="navbar-item active">
            <a href="\" class="nav-link" style="text-align: center;">MusicApp</a>
        </li>
        <li class="navbar-item">
            <a href="magical-garden" class="nav-link" style="text-align: center;">Magical Garden</a>
        </li>
        <li class="navbar-item">
            <a href="switching-personalities" class="nav-link" style="text-align: center;">Switching Personalities</a>
        </li>
        <li class="navbar-item">
            <a href="other" class="nav-link" style="text-align: center;">Other</a>
        </li>
    </ul>
</div>